<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/edit.css">
</head>

<body>

    <h2>Add Item</h2>
    <form action="/addItem" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <br><br>

        <label for="price">Price:</label>
        <input type="number" name="price" id="price" required>
        <br><br>

        <label for="description">Description:</label>
        <input type="text" name="description" id="description">
        <br><br>

        <label for="cat_id">Select Category:</label>
        <select name="cat_id" required>
            <% categories.forEach(category=> { %>
                <option value="<%= category.category_id %>">
                    ID: <%= category.category_id %> - <%= category.name %>
                </option>
                <% }) %>
        </select>
        <br><br>

        <label for="image_link">Image Link:</label>
        <input type="text" name="image_link" id="image_link">
        <br><br>

        <button type="submit">Submit</button>
    </form>

    <hr>

    <h2>Delete Item</h2>
    <form action="/deleteItem" method="post">
        <label for="item_id">Select Item:</label>

        <select name="item_id" required>
            <% items.forEach(item=> { %>
                <option value="<%= item.item_id %>">
                    ID: <%= item.item_id %> - <%= item.name %> ($<%= item.price %>)
                </option>
                <% }) %>
        </select>

        <button type="submit">Delete</button>
    </form>
    
    <a href="/"><button> GET BACK TO HOME </button></a>

</body>

</html>